body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black; 
}

.main-container,
.secondary-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.sub-container {
    display: flex;
    flex-direction: column;
}

.box {
    border: 1px solid black; 
    padding: 10px;
    margin-bottom: 10px;
}

.circle-container {
    border: 1px solid black; 
    padding: 10px;
    display: flex;
    justify-content: flex-end; 
}

.circle {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    display: none;
    flex-direction: column;
}

.circle:hover .dropdown {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-item {
    border: 1px solid black; 
    padding: 65px;
    text-align: center;
}

.big-box {
    border: 1px solid black;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

.small-box {
    border: 1px solid black; 
    padding: 130px;
    height: 100%;
    box-sizing: border-box;
}

.items-container {
    display: flex;
    flex-direction: column;
}

select {
    align-self: flex-end; 
}