body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black; 
    height: 100%;
    width: 100%;
}

.main-container,
.secondary-container {

    padding: 20px;
    box-sizing: border-box;
}

.main-container {
    width: 40%;
}

.secondary-container {
    width: 60%;
}
.sub-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.box {
    border: 1px solid black; 
    padding: 10px;
    margin-bottom: 15px;
}

.box-footer {
    border: 1px solid black; 
    padding: 10px;
    margin-bottom: 15px;
    flex: 1;
}
.circle-container {
    border: 1px solid black; 
    padding: 10px;
    display: flex;
    justify-content: flex-end; 
}

.circle {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    display: none;
    flex-direction: column;
}

.circle:hover .dropdown {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-item {
    border: 1px solid black; 
    padding: 20px;
    text-align: start;
    font-size: 25px;
}

.big-box {
    border: 1px solid black;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

.small-box {
    border: 1px solid black; 
    padding: 15px;
    height: 70%;
    box-sizing: border-box;
}

.items-container {
    display: flex;
    flex-direction: column;
}

.items-container .box p {
    display: flex;
    justify-content: space-between;
}
select {
    align-self: flex-end; 
}
.progress {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
  }
  